# conditional statements:
# three types
1 if
syntax:
if<con>:
  <stmt>

2 if else
syntax:
if<con>:
  <stmt1>
else:
  <stmt2>

3 elif
syntax:
if<con>:
  <stmt1>
elif
 <stmt2>
else:
 <stmt>

In [17]:
num1 = input("Enter the number: ")
num2 = input("Enter the number: ")

Enter the number:  7
Enter the number:  3

In [9]:
type(num1)

str

# if statement

In [10]:
if int(num1)>int(num2):
    print(f"The number {num1} is greater then {num2}")

The number 45 is greater then 18

In [15]:
if int(num1)==int(num2):
    print(f"The number {num1} is equal to {num2}")

The number 7 is equal to 7

In [19]:
if int(num2)<int(num1):
    print(f"the number {num2} is lesser than {num1} ")

the number 3 is lesser than 7

# checking divisiblity by 4 - using if

In [26]:
if int(a) % 4 ==0:
    print(f"the number {a} is divisible by 4 ")

the number 1904 is divisible by 4

In [24]:
a= int(input("enter the first num: "))
b= int(input(" enter the second num:"))

enter the first num:  1904
 enter the second num: 1209

# else if

# check the positive number or not

In [3]:
a1= int(input(" enter the first number:"))
b1= int(input(" enter the second number:"))

 enter the first number: 7
 enter the second number: -9

In [7]:
if int (a1) >= 0:
   print(f"the number {a1} is positive")
else:
   print(f"the number {A1} is negative")

the number 7 is positive

In [8]:
if int (b1) >= 0:
    print(f" the {b1} is positive")
else:
    print(f"the {b1} is negative")

the -9 is negative

# voting

In [11]:
c=int(input(" Enter your age: "))

 Enter your age:  17

In [12]:
if int (c)>=18:
    print(f"you are eligible to vote")
else:
    print(f"you are not eligible to vote")

you are not eligible to vote

# finding the even/odd number

In [27]:
d= int(input ("enter the number:"))

enter the number: -2

In [22]:
if int (d)%2==0:
    print(f"the number is even")
else:
    print(f"the number is odd")

the number is odd

# elif

In [28]:
if int (d)> 0:
    print(f"the number {d} is positive")
elif int (d)< 0:
    print(f"the number {d} is negative")
else:
    print(f"the number {d} is zero")

the number -2 is negative

In [37]:
a2= input("are you suffering from fever(yes/no):")
b2= input("are you suffering from cold(yes/no):")
c2 =input("are you return from foreign(yes/no:")

are you suffering from fever(yes/no): yes
are you suffering from cold(yes/no): yes
are you return from foreign(yes/no: yes

In [42]:
if a2=="yes" and b2=="yes":
    print(f" you are advised to be in  quarantine")
elif a2 == "yes" and b2 =="yes" and c2 =="yes":
    print(f"you are advised to admit in a hospital")
else:
    print(f" you are advised to take a injection")

 you are advised to be in  quarantine

# LOOPS
two types:
1.for-definite
2.while-indefinite

# for

In [61]:
for i in range(0,2):
    print("dev")

dev
dev

In [52]:
nnum= [1,2,3,4,5]
s = "THALADHONI"

In [47]:
for x in nnum:
    print(x)

1
2
3
4
5

In [64]:
li=[7,'dhoni',18,'kholi',45,'sharma']

In [65]:
for y in li:
    print(y)

7
dhoni
18
kholi
45
sharma

In [50]:
tu=(7,'dhoni',18,'kholi',45,'sharma')

In [72]:
for z in tu:
    print(z)

7
dhoni
18
kholi
45
sharma

In [53]:
for h in s:
    print(h)

T
H
A
L
A
D
H
O
N
I

In [74]:
if 'D' in s:
    print("present in the list")
else:
    print("not present in the list")

present in the list

In [75]:
k=['d','e','v','i']

In [77]:
if 's' in k:
    print("present in the list")
else:
    print("not present in the list")

not present in the list

In [82]:
f=[1,2,3,4,5,6,7,8,9]

In [92]:
for val in f:
    if val %2 == 0:
        print(f"the number is even")
    else:
        print(f"the number is odd")

the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd

# NESTED FOR LOOP

In [ ]:
for <variables> in <sequence>: #outer loop
    <statement 1>
    for<variables> in <sequence>: #inner loop
    <statement 2>

In [5]:
rows = int(input("Enter the no of rows"))
numm = 1

for i in range(1, rows+1):
    for j in range(1,i+1):
        print("*",end = " ")
        numm +=1
    print()

Enter the no of rows 5

*
* *
* * *
* * * *
* * * * *

In [16]:
row = int(input("enter the no of rows"))
nnumm = 1

for i in range(5, row-1):
    for j in range(5,i-1):
        print("*",end = " ")
        nnumm -=5
    print()

enter the no of rows 5

# for with break statement

In [110]:
for val in "string":
    if val =="i":
        break
    print(val)
print("the end")

s
t
r
the end

# for with continue statement

In [112]:
numm2=[1,2,3,4,5,6,7]
for val in numm2:
    if val%5==0:
        continue
    print(val)

1
2
3
4
6
7

# while loop

In [ ]:
while<expressions>:
    <statement(s)>

In [ ]:
n =int(input('Enter the limit: '))
i=0
while i < n:
    print(i)
    i
    i +=1

In [5]:
count=0
while count = 0:
    if count <5:
        print('dev')
    else:
        print('kavz')

SyntaxError: invalid syntax (1879788443.py, line 2)

# while with break statement

In [2]:
count = 0
while True:
    print ( count )
    count +=1
    if count == 5:
        break

0
1
2
3
4

# while with continue statement

In [6]:
i = 0
while i < 6:
    i +=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [2]:
a = 0
b = 1
n = int(input("enter the limit: "))
while a < n:
    print(a, end=' ')
    a,b = b,a+b

enter the limit:  10

0 1 1 2 3 5 8

# FUNCTIONS

In [ ]:
def < function_name >(parameters):
    doc string
    <statement(s)>

In [ ]:
def sayhello():
    print('hello')

In [14]:
def user(name,age):
    print(f'my name is "{name} "and my age is"{age}":')

In [15]:
name=input("enter your name:")
age=int(input("enter your age:"))
user(name,age)

enter your name: dev
enter your age: 20

my name is "dev "and my age is"20":

# even number

In [27]:
def filter_even(number_list):
    result_list=[]
    for number in number_list:
        if number %2 == 0:
            result_list.append (number)
    return result_list

In [34]:
even_list = filter_even([1,2,3,4,5,6,7,8,9,10])
even_list

[2, 4, 6, 8, 10]

# remove duplicate

In [55]:
def find_duplicate(list):
    result=[]
    for number in list:
        if number not in result:
            result.append(number)
    return result

In [56]:
duplicate_list = find_duplicate([2,4,2,3,5,6,8,4])
duplicate_list

[2, 4, 3, 5, 6, 8]