In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\aedpu\anaconda3\envs\dev18\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

# SERIES

In [4]:
a1=pd.Series(['dev','kav','saran','jee','guhan'], index=[0,1,2,3,4])

In [5]:
print(a1)

0      dev
1      kav
2    saran
3      jee
4    guhan
dtype: object

# DATAFRAMES

In [13]:
season={"winter":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [14]:
season

{'winter': {1: 'nov', 2: 'dec', 3: 'jan', 4: 'feb'},
 'dry': {1: 'mar', 2: 'apr', 3: 'may', 4: 'jun'}}

In [15]:
d=pd.DataFrame(season,columns=["winter","dry"])

In [16]:
d

  winter  dry
1    nov  mar
2    dec  apr
3    jan  may
4    feb  jun

In [17]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   winter  4 non-null      object
 1   dry     4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes

In [18]:
d.describe()

       winter  dry
count       4    4
unique      4    4
top       nov  mar
freq        1    1

# READ csv